DISCORD_TOKEN = your_discord_bot_token_here

BOT_OWNER_ID=your_discord_user_id_here

ECONOMY_DB=data/economy.db
ECONOMY_DAILY_REWARD=50
BJ_MIN_BET=10
BJ_MAX_BET=100000
BJ_COMMAND_COOLDOWN=5
BJ_VIEW_TIMEOUT=300
BJ_BACK_EMOJI_NAME=back

SPOTIFY_CLIENT_ID = your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET = your_spotify_client_secret_here

MUSIC_BACKEND = lavalink
LAVALINK_URI = http://
LAVALINK_PASSWORD = youshallnotpass